@media screen and (max-width:768px) {
    nav {
        padding: 0px 10px;
    }

    .logo-div {
        flex-direction: column;
    }

    .first li {
        display: block;
    }

    .freya-logo button {

        display: flex;
    }

    .sec {
        margin-left: auto;
        margin-right: auto;
    }

    .hero-div {
        padding: 50px 20px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        gap: 20px;
    }

    .about {
        padding: 100px 20px;
    }

    .about .row {

        grid-template-columns: 1fr;

    }

    .service-text {
        padding: 100px 10px;
    }

    .service-text div {
        padding: 0px 10px;
    }

    .service-text div h3 {
        padding: 0px 10px;
        line-height: 100%;
    }

    .service-grid {

        grid-template-areas: 'first'
            'sec'
            'third';
    }
}